<div class="error" ng-message="required" ng-class="{'ElementRtl':Language.isRtl()}">
  <i class="ion-information-circled"></i> 
</div>
<div class="error" ng-message="minlength" ng-class="{'ElementRtl':Language.isRtl()}">
  <i class="ion-information-circled"></i> 
  {{'min_length_error' | translate}}
</div>
<div class="error" ng-message="maxlength" ng-class="{'ElementRtl':Language.isRtl()}">
  <i class="ion-information-circled"></i> 
  {{'max_length_error' | translate}}
</div>

<div class="error" ng-message="email" ng-class="{'ElementRtl':Language.isRtl()}">
  <i class="ion-information-circled"></i> 
</div>